body {
  background-color: #ffffff;
}
/* header линия ссылок итд */
.webstudio {
}
.header-studio {
}
.header-contact-portfolio {
}
.header-email {
}

/* первый блок - пикча со слоганом */
.fblock-solutions {
}
.fblock-button {
}
/* 2й блок. тезисы + чем занимаемся */
.sblock-fourblocks {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.sblock-blocks {
}
.sblock-blocks-headers {
}
.sblock-whatwedo .sblock-pics {
}

/* 3й блок - дримтим */
.tblock-main {
  display: flex;
  flex-direction: row;
}
.tblock-teammateblock/* футер - адрес контакты */;
